<div class="row">
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>
        <h3>Task One!</h3> Interceptor
      </nb-card-header>
      <nb-card-body>
        Using this path, create an interceptor that injects a fake JWT.
        <br>
        <br>
        <nb-alert outline="primary">
          'src/app/@core/auth'
        </nb-alert>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>
        <h3>Task Two!</h3> Menu/Module/Component
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item>
            <ol>
              <li>Dig through the app folders to find the menu. Add a new menu item.</li>
              <li>Create a module, add it to routing. Create a component and put anything you like there! Impress us with the use of Pipes, Services, and other Angular Framework tools.
              </li>
              <li>Testing too please!</li>
              <li>We are looking for design skills so show off those styles.</li>
            </ol>
          </nb-list-item>
          
        </nb-list>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-lg-4">
      <nb-card>
        <nb-card-header>
          <h3>Task Three!</h3> Clean Up
        </nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item>
              1. Reorganize and clear up this application for production.
            </nb-list-item>
            <nb-list-item>
              2. Start by renaming "e-commerce" to dashboard. 
            </nb-list-item>
            <nb-list-item>
                3. Our team allows you to take ownership of your application and work. Show us how you make your application neat and scalable.
              </nb-list-item>
          </nb-list>
        </nb-card-body>
        <nb-card-footer>
        </nb-card-footer>
      </nb-card>
    </div>
</div>

<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>