<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        <h3>Welcome!</h3>
      </nb-card-header>
      <nb-card-body>
        Thank you for getting this far in our applicaiton process.
        <br>
        <br>
        I don't want to waste all of your time so this will be short and sweet.
        <br>
        <br>
        All I want to know is, do you know Angular well enough already... OR can you learn it fast enough to complete
        the tasks below.
        <br>
        <br>
        I have littered this application with notes too help guide you as well!
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        <h3>Tips</h3>
      </nb-card-header>
      <nb-card-body>
        This application was made using Nebular Components and NGX Admin. The button below is a link to thier
        components list.
        <br>
        <br>
        <nb-alert outline="primary">
          *hint they have a VSCode Extension
        </nb-alert>
      </nb-card-body>
      <nb-card-footer>
        <div class="float-right">
          <button href="https://akveo.github.io/nebular/docs/components/components-overview" nbButton>LINK</button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>
        <h3>Task One!</h3> Interceptor
      </nb-card-header>
      <nb-card-body>
        Using this path, create an interceptor that injects a fake JWT.
        <br>
        <br>
        <nb-alert outline="primary">
          'src/app/@core/auth'
        </nb-alert>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>
        <h3>Task Two!</h3> Menu/Module/Component
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item>
            Simple Enough.
          </nb-list-item>
          <nb-list-item>
            Dig through the app folders to find the menu. Add a new menu item.
          </nb-list-item>
          <nb-list-item>
            Create a module, add it to routing. Create a component and put anything you like there! Impress us with the use of Pipes, Services, and other Angular Framework tools.
          </nb-list-item>
          <nb-list-item>
              We are looking for design skills so show off those styles.
            </nb-list-item>
          <nb-list-item>
              Testing too please!
            </nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-lg-4">
      <nb-card>
        <nb-card-header>
          <h3>Task Three!</h3> Clean Up
        </nb-card-header>
        <nb-card-body>
          <nb-list>
            <nb-list-item>
              This app is pretty cluttered with demo content.
            </nb-list-item>
            <nb-list-item>
              Reorganize and clear up this application for production.
            </nb-list-item>
            <nb-list-item>
              Start by renaming "e-commerce" to dashboard. 
            </nb-list-item>
            <nb-list-item>
                Our team allows you to take ownership of your application and work. Show us how you make your application neat and scalable.
              </nb-list-item>
          </nb-list>
        </nb-card-body>
        <nb-card-footer>
        </nb-card-footer>
      </nb-card>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>
        <h3>I left the stuff below so you can see what the application has avliable if you want to add charts or anything else to your custom components</h3>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>