<h1>Clients</h1>
<div class="row">
<div class="col-md-3">
   
          <nb-card accent="success">
              <nb-card-header>Cement Trucking</nb-card-header>
              <nb-card-body>
                <ul class="no-style">
                  <li> 
                    <i class="fas fa-map-marker-alt"></i> 
                    <b> Locations:</b> Nebraska, Iowa, Missouri, Kansas
                  </li>
                    <b>Coverage</b>
                    <ul class="no-style icon-flex">
                      <li><i class="fas fa-truck-loading"></i></li>
                      <li><i class="fas fa-car-crash"></i></li>
                    </ul>
                  <li>

                  </li>
                </ul>
                A nebula is an interstellar cloud of dust, hydrogen,
                helium and other ionized gases. <i class="fas fa-igloo"></i> HERE
                Originally, nebula was a name for
                any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
              <a (click)="onClick()" href="#" nbButton outline shape="semi-round" status="ghost">Link</a>              
          </nb-card>
</div>
<div class="col-md-3">
    <nb-reveal-card>
        <nb-card-front>
          <nb-card accent="success">
              <nb-card-header>Dyson Delevery</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen,
                helium and other ionized gases. <i class="fas fa-igloo"></i> HERE
                Originally, nebula was a name for
                any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
        
              <nb-card-footer>View Details</nb-card-footer>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
            <nb-card>
                <nb-card-header>Dyson Delevery</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
          
                <nb-card-footer>View Details</nb-card-footer>
            </nb-card>
        </nb-card-back>
      </nb-reveal-card>
</div>
<div class="col-md-3">
    <nb-reveal-card>
        <nb-card-front>
          <nb-card accent="success">
              <nb-card-header>East Side Trucking</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen,
                helium and other ionized gases. <i class="fas fa-igloo"></i> HERE
                Originally, nebula was a name for
                any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
        
              <nb-card-footer>View Details</nb-card-footer>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
            <nb-card>
                <nb-card-header>East Side Trucking</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
          
                <nb-card-footer>View Details</nb-card-footer>
            </nb-card>
        </nb-card-back>
      </nb-reveal-card>
</div>
<div class="col-md-3">
    <nb-reveal-card>
        <nb-card-front>
          <nb-card accent="success">
              <nb-card-header>Easy Transportation</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen,
                helium and other ionized gases. <i class="fas fa-igloo"></i> HERE
                Originally, nebula was a name for
                any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
        
              <nb-card-footer>View Details</nb-card-footer>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
            <nb-card>
                <nb-card-header>Easy Transportation</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
          
                <nb-card-footer>View Details</nb-card-footer>
            </nb-card>
        </nb-card-back>
      </nb-reveal-card>
</div>
</div>
