<h5>Legend-chart-component</h5>
<div class="grid">
    <div class="col-2-3">
       Main Content
    </div>
    <div class="col-1-3">
       Sidebar
    </div>
  </div>
<div class="row">
<div class="col-md-3">
    <nb-reveal-card>
        <nb-card-front>
          <nb-card accent="success">
              <nb-card-header>Nebula</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen,
                helium and other ionized gases. <i class="fas fa-igloo"></i> HERE
                Originally, nebula was a name for
                any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
        
              <nb-card-footer>By Wikipedia</nb-card-footer>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
            <nb-card>
                <nb-card-header>Nebula</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
          
                <nb-card-footer>By Wikipedia</nb-card-footer>
            </nb-card>
        </nb-card-back>
      </nb-reveal-card>
</div>
<div class="col-md-3">
    <nb-reveal-card>
        <nb-card-front>
          <nb-card accent="success">
              <nb-card-header>Nebula</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen,
                helium and other ionized gases. <i class="fas fa-igloo"></i> HERE
                Originally, nebula was a name for
                any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
        
              <nb-card-footer>By Wikipedia</nb-card-footer>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
            <nb-card>
                <nb-card-header>Nebula</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
          
                <nb-card-footer>By Wikipedia</nb-card-footer>
            </nb-card>
        </nb-card-back>
      </nb-reveal-card>
</div>
<div class="col-md-3">
    <nb-reveal-card>
        <nb-card-front>
          <nb-card accent="success">
              <nb-card-header>Nebula</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen,
                helium and other ionized gases. <i class="fas fa-igloo"></i> HERE
                Originally, nebula was a name for
                any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
        
              <nb-card-footer>By Wikipedia</nb-card-footer>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
            <nb-card>
                <nb-card-header>Nebula</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
          
                <nb-card-footer>By Wikipedia</nb-card-footer>
            </nb-card>
        </nb-card-back>
      </nb-reveal-card>
</div>
<div class="col-md-3">
    <nb-reveal-card>
        <nb-card-front>
          <nb-card accent="success">
              <nb-card-header>Nebula</nb-card-header>
              <nb-card-body>
                A nebula is an interstellar cloud of dust, hydrogen,
                helium and other ionized gases. <i class="fas fa-igloo"></i> HERE
                Originally, nebula was a name for
                any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-card-body>
        
              <nb-card-footer>By Wikipedia</nb-card-footer>
          </nb-card>
        </nb-card-front>
        <nb-card-back>
            <nb-card>
                <nb-card-header>Nebula</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
          
                <nb-card-footer>By Wikipedia</nb-card-footer>
            </nb-card>
        </nb-card-back>
      </nb-reveal-card>
</div>
</div>
<div class="row">
  <nb-card>
    <nb-card-body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <div id="masters">
        <div>
        <h2>Master's Degrees</h2>
          <form id="mastersFilter" name="mastersFilter">
            <p style="display:inline;">
              <b>Filter:</b>
            </p><input id="online" name="program-type-checkbox" type="checkbox" value="online"> Online <input id="hybrid" name="program-type-checkbox" type="checkbox" value="hybrid"> Hybrid 
          </form>
        </div>
        <div>
        <div class="program" data-category="online hybrid">
            <span class="headline"><strong>
              <a href="https://gradschool.creighton.edu/program/Business-Administration-MBA">MBA (Business Administration)</a>
            </strong></span>
            <p>
              <strong>33 Credits | On-campus, Online, Hybrid</strong><br>
              
                On-campus starts in August, December, February, May and July<br>
              Online starts in August, October, January, March and June  
            </p>
          </div>
          <div class="program" data-category="online hybrid" >
            <span class="headline"><strong>
              <a href="https://gradschool.creighton.edu/program/negotiation-and-conflict-resolution-ms">Negotiation and Conflict Resolution (Master of Science)</a>
        </strong>
            </span>
            <p>
              <strong>33 Credits | Online*, Hybrid</strong><br>
              Starts in August, October, January, March and July
            </p>
          </div>
          <div class="program" data-category="online ">
            <span class="headline"><strong>
              <a href="https://gradschool.creighton.edu/program/organizational-leadership-ms">Organizational Leadership (Master of Science)</a>
            </strong></span>
            <p>
              <strong>36 Credits | Online</strong><br>
              Starts in August and January
            </p>
          </div>
          <div>
            <p style="font-size:12px;">* Indicates programs available online, but with On-campus residency requirements. Visit the program’s page for more information.</p>
          </div>
        </div>
        </div>
        
        <script type="text/javascript">
        var $filterCheckboxes = $('input[type="checkbox"]');
        
        $filterCheckboxes.on('change', function() {
        
          var selectedFilters = {};
        
          $filterCheckboxes.filter(':checked').each(function() {
        
          if (!selectedFilters.hasOwnProperty(this.name)) {
            selectedFilters[this.name] = [];
          }
        
          selectedFilters[this.name].push(this.value);
        
          });
        
          // create a collection containing all of the filterable elements
          var $filteredResults = $('.program');
        
          // loop over the selected filter name -> (array) values pairs
          $.each(selectedFilters, function(name, filterValues) {
        
          // filter each .flower element
          $filteredResults = $filteredResults.filter(function() {
        
            var matched = false,
            currentFilterValues = $(this).data('category').split(' ');
        
            // loop over each category value in the current .flower's data-category
            $.each(currentFilterValues, function(_, currentFilterValue) {
        
            // if the current category exists in the selected filters array
            // set matched to true, and stop looping. as we're ORing in each
            // set of filters, we only need to match once
        
            if ($.inArray(currentFilterValue, filterValues) != -1) {
              matched = true;
              return false;
            }
            });
        
            // if matched is true the current .program element is returned
            return matched;
        
          });
          });
        
          $('.program').hide().filter($filteredResults).show();
        
        });
        
        var array = document.getElementsByClassName("tab-acc-content")[0].parentNode.childNodes[1].childNodes[1].childNodes;
        
        for (var i of array) {
          i.addEventListener("click", handleSelectTab);
        }
        
        function handleSelectTab(){
        
          // check if checkboxes are checked
          if (($("#mastersFilter input:checkbox:checked").length > 0) || ($("#dualFilter input:checkbox:checked").length > 0)|| ($("#certificatesFilter input:checkbox:checked").length > 0))
          {
          // and if so uncheck all checkboxes in forms with name dualFilter, certificatesFilter and mastersFilter
          unCheckCheckboxes('mastersFilter', false); 
          unCheckCheckboxes('dualFilter', false); 
          unCheckCheckboxes('certificatesFilter', false);
          }
        };
        
        function unCheckCheckboxes(formname, checkStatus){
          var checkboxes = new Array(); 
          checkboxes = document[formname].getElementsByTagName('input');
         
          for (var i=0; i<checkboxes.length; i++)  {
            if (checkboxes[i].type == 'checkbox')   {
              checkboxes[i].checked = checkStatus;
            }
          }
        };
        
        </script>
    </nb-card-body>
  </nb-card>
</div>